<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    
    <!-- Este lo tendría que sacar-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!---->

    <title>Probando React</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="statics/reacts/like_button.js" type="text/babel"></script>
  <script src="statics/reacts/format_name.js" type="text/babel"></script>
  <script src="statics/reacts/welcome.js" type="text/babel"></script>
  <script src="statics/reacts/clock.js" type="text/babel"></script>
  <script src="statics/reacts/toogle.js" type="text/babel"></script>
  <script src="statics/reacts/name_form.js" type="text/babel"></script>
  <script src="statics/reacts/temperatura.js" type="text/babel"></script>
  <script src="statics/reacts/App.js" type="text/babel"></script>
</html>